.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 65px);
    flex-direction: column;
    background-image: url('../../assets/image2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container h1 {
    color: #26348C;
    margin-bottom: 15px;
}


.formContainer {
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 6px;
    padding: 30px;
    color: #26348C;
}

.formContainer form {
    width: 100%;
    display: flex;
    flex-direction: column;
}




.formControl {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

}

.formControl label {
    margin-bottom: 5px;
}

.formControl input {
    height: 30px;
    padding: 5px;
    color: #26348C;
}

.error {
    color: red;
    margin-top: 5px;
}



.btnPrimary {
    background-color: #26348C;
    height: 35px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
    border: none;
}

.btnPrimary:hover {
    background-color: #2a3baadf;
    
}