.success {
    max-width: 60%;
    margin: 20px auto;
    border-radius: 5px;
    height: 100px;
    background-color: #a0ff77c6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

